# Application
APPNAME=Jojo
ENVIRONMENT=development
APP_TIMEZONE=America/Chicago
LOG_LEVEL=INFO
SESSION_TIMEOUT=0,0,30,0
SESSION_COOKIE_SECURE=false

# BoxLang Environment
BOXLANG_DEBUG=true

# MongoDB Information
MONGODB_DATASOURCE=jomongo
MONGODB_URI=mongodb://127.0.0.1:27017/?connectTimeoutMS=2000&serverSelectionTimeoutMS=2000
MONGODB_DATABASE=jomongo
